div {
    margin : 10px;
}
.whole-form
{
    border: 1px solid forestgreen;
}
h1, h2
{
    text-decoration-line: underline;
    text-shadow: 3px 6px 4px gainsboro;
}

.error
{
    color: red;
    font-size: small;
}
button
{
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 8px;
    color: #61C250;
    background-color: #00685B;
    font-weight: bold;
}