.in-line
{
    padding: 4px 9px;
    border: 1px solid #00685B;
    display: inline-flex;
    //flex-direction: row-reverse;
}
.chapter
{
    margin: 30px 0;
}
.chapter1
{
    margin: 0;
    padding: 20px 0;
    background-image: url("../../../../../../public/assets/zoo/Picture_zoo_1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
p
{
    font-size: large;
}
.main-logo
{
    max-width: 40px;
}
h2
{
    text-align: center;
}
.paragraphs, h2
{
    border: 2px solid rebeccapurple;
    background-color: lavender;
    opacity: 80%;
    max-width: 90%;
    margin: auto;
}
.paragraphs
{
    padding: 18px;
}
