<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/"></a>

    <!-- Bouton hamburger -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu collapsé -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">

      <button class="m-1 btn button" routerLink=""> 🛖Accueil</button>
      <button class="m-1 btn button" routerLink="animals"> 🦁Animaux</button>
      <button class="m-1 btn button" routerLink="animals"> 📤Prêts</button>
      <button class="m-1 btn button" routerLink="animals"> 📥Emprunts</button>
      <button class="m-1 btn button" routerLink="animals"> 🧸Jouets</button>
      <button class="m-1 btn button" routerLink="animals"> 🤠Employés</button>
      <button class="m-1 btn button" routerLink="animals"> 👨‍👩‍👧‍👦Utilisateurs</button>
      <div class="ms-auto">
        <button class="btn btn-outline-primary" routerLink="/login">
          Login
        </button>
        <button id ="btn" class="btn btn-outline-secondary" routerLink="/register">
          Register
        </button>
      </div>
    </div>

  </div>
</nav>


