
tr, td
{
    border: 1px solid black;
    margin: 0;
}
tr, td
{
    padding: 8px;
}
table
{
    margin: 25px 15px;
    max-width: max-content;
}
.data-title
{
    color: orchid;
    font-weight: bold;
}

.hidden
{
    display: none;
}
button
{
    margin: 8px;
    padding: 4px;
    border-radius: 15px
}