

<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <h1>Créer un animal</h1>
  <div>
    <label for="name">Nom: </label>
    <input type="text" id="name" formControlName="name" />
    @if (name.touched && name.invalid) {
      @if (name.getError('required')) {
        <p>Le nom est requis!</p>
      }
    }
  </div>
  <div>
        <label for="sex">Sexe</label>

        <select id="sex" formControlName="sex" size="AnimalSex.length">
        @for (item of AnimalSex | keyvalue; track item.key) {
            <option [value]="item.value">{{ item.value }}</option>
        }
        </select>
  </div>
  <div>
    <label for="speciesName">Espèce: </label>
    <select formControlName="speciesName">
    @for (sp of speciesList; track $index) {
        <option [value]="sp.name">{{ sp.name }}</option>
    }
    </select>
  </div>
  <div>
    <label for="ownerName">Propriétaire: </label>
        <select id="ownerName" formControlName="ownerName" size="ownerName.length">
        @for (item of owners | keyvalue; track item.key) {
            <option [value]="item.value">{{ item.value }}</option>
        }
        </select>
    @if (ownerName.touched && ownerName.invalid) {
      @if (ownerName.getError('required')) {
        <p>Le propriétaire est requis!</p>
      }
    }
  </div>
  <div>
    <label for="isAvailable">isAvailable :</label>
    <input type="checkbox" id="isAvailable" formControlName="isAvailable" />
    @if (isAvailable.touched && isAvailable.invalid) {
      @if (isAvailable.getError('required')) {
        <p>isAvailable est requis !</p>
      }
    }
  </div>
  <div>
    <label for="birthDate">Date de naissance :</label>
    <input type="date" id="birthDate" formControlName="birthDate" />
    @if (birthDate.touched && birthDate.invalid) {
      @if (birthDate.getError('required')) {
        <p>La date de naissance est requise !</p>
      }
    }
  </div>
  <div>
    <label for="ripDate">Date de décès :</label>
    <input type="date" id="ripDate" formControlName="ripDate" />
  </div>


  <button type="submit" [disabled]="createForm.invalid">S'enregistrer</button>
  @if (registerError) {
    <p>{{ registerError }}</p>
  }
</form>
